<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Salas</h2>
            <a href="/salas/add" class="btn btn-success">+ Nova Sala</a>
        </div>

        <div class="search">
            <form method="post">
                <input type="text" name="pesquisar" placeholder="Pesquisar capacidade..." class="form-container">
                <input type="submit" value="Buscar" class="btn btn-success">
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Capacidade</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%sala.forEach(sala=> {%>
                        <tr>
                            <td>
                                <%=sala.numero%>
                            </td>
                            <td>
                                <%=sala.capacidade%>
                            </td>
                            <td>
                                <a href="/salas/del/<%=sala.id%>" class="link">Excluir</a>
                                <a href="/salas/edt/<%=sala.id%>" class="link">Editar</a>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('../rodape.ejs')%>