<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Seleções</h2>
            <a href="/selecao/add" class="btn btn-success">+ Nova Seleção</a>
        </div>

        <div class="search">
            <form method="post">
                <input type="text" name="pesquisar" placeholder="Nome da Seleção" class="form-container">
                <input type="submit" value="Buscar" class="btn btn-success">
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Continente</th>
                        <th>Título</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%selecao.forEach(selecao=> {%>
                        <tr>
                            <td>
                                <%=selecao.nome%>
                            </td>
                            <td>
                                <%=selecao.continente%>
                            </td>
                            <td>
                                <%=selecao.titulos%>
                            </td>
                            <td>
                                <a href="/selecao/del/<%=selecao.id%>" class="link">Excluir</a>
                                <a href="/selecao/edt/<%=selecao.id%>" class="link">Editar</a>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('../rodape.ejs')%>