<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Gêneros</h2>
            <a href="/generos/add" class="btn btn-success">+ Novo Gênero</a>
        </div>

        <div class="search">
            <form method="post">
                <input type="text" name="pesquisar" placeholder="Nome do artista" class="form-container">
                <input type="submit" value="Buscar" class="btn btn-success">
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%generos.forEach(genero=> {%>
                        <tr>
                            <td>
                                <%=genero.nome%>
                            </td>
                            <td>
                                <a href="/generos/del/<%=genero.id%>" class="link">Excluir</a>
                                <a href="/generos/edt/<%=genero.id%>" class="link">Editar</a>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('../rodape.ejs')%>