<%-include('../cabecalho.ejs')%>
    <header>
        <h3>Editar Artista</h3>
    </header>
    <div class="content">
        <form id="form-musica" method="post" autocomplete="off">
            <div class="grid">
                <div>
                    <label for="nome">ID do Artista</label>
                    <input id="id" value="<%=artista.id%>" name="id" type="text" placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="nome">Nome do Artista</label>
                    <input id="nome" value="<%=artista.nome%>" name="nome" type="text" placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="duracao">País de Origem</label>
                    <input id="duracao" value="<%=artista.pais%>" name="pais" type="text" placeholder="Ex:Gope"
                        required>
                </div>
                <div>
                    <label for="artista">Ano de Nascimento</label>
                    <input id="artista" value="<%=artista.anoNascimento%>" name="anoNascimento" type="text"
                        placeholder="Ex:Gope" required>
                </div>
                <div class="field-help">Os campos com * são obrigatórios.</div>
                <footer>
                    <a type="button" class="btn ghost" id="btn-cancelar" href="/artistas/lst">Cancelar</a>
                    <button type="submit" class="btn primary">Editar Artista</button>
                </footer>
        </form>
    </div>

    <%-include('../rodape.ejs')%>