<%-include('../cabecalho.ejs')%>
    <header>
        <h3>Editar Jogador</h3>
    </header>
    <div class="content">
        <form id="form-musica" method="post" autocomplete="off">
            <div class="grid">
                <div>
                    <label for="nome">ID do Jogador</label>
                    <input id="id" value="<%=jogador.id%>" name="id" type="text" placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="nome">Nome do Jogador</label>
                    <input id="nome" value="<%=jogador.nome%>" name="nome" type="text" placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="numero">Número do Jogador</label>
                    <input id="numero" value="<%=jogador.numero%>" name="numero" type="number" placeholder="Ex:Gope"
                        required>
                </div>
                <div>
                    <label for="selecao">Seleção</label>
                    <input id="selecao" value="<%=jogador.selecao%>" name="selecao" type="text" placeholder="Ex:Gope"
                        required>
                </div>
                <div>
                    <label for="gols">Gols</label>
                    <input id="gols" value="<%=jogador.gols%>" name="gols" type="number" placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="assistencias">Assistências</label>
                    <input id="assistencias" value="<%=jogador.assistencias%>" name="assistencias" type="number"
                        placeholder="Ex:Gope" required>
                </div>
            </div>
            <div class="field-help">Os campos com * são obrigatórios.</div>
            <footer>
                <a type="button" class="btn ghost" id="btn-cancelar" href="/jogador">Cancelar</a>
                <button type="submit" class="btn primary">Editar Jogador</button>
            </footer>
        </form>
    </div>

    <%-include('../rodape.ejs')%>