<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Jogadores</h2>
            <a href="/jogador/add" class="btn btn-success">+ Novo Jogador</a>
        </div>

        <div class="search">
            <form method="post">
                <input type="text" name="pesquisar" placeholder="Nome do Jogador" class="form-container">
                <input type="submit" value="Buscar" class="btn btn-success">
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Número</th>
                        <th>Participações</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%jogadores.forEach(jogador=> {%>
                        <tr>
                            <td>
                                <%=jogador.nome%>
                            </td>
                            <td>
                                <%=jogador.numero%>
                            </td>
                            <td>
                                <%=jogador.gols + jogador.assistencias%>
                            </td>
                            <td>
                                <a href="/jogador/del/<%=jogador.id%>" class="link">Excluir</a>
                                <a href="/jogador/edt/<%=jogador.id%>" class="link">Editar</a>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('../rodape.ejs')%>