<%-include('.. /cabecalho.ejs')%>
    <header>
        <h3>Editar Música</h3>
    </header>
    <div class="content">
        <form id="form-musica" method="post" autocomplete="off">
            <div class="grid">
                <div>
                    <label for="nome">ID da Música</label>
                    <input id="id" value="<%=musica.id%>" name="id" type="text" placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="nome">Nome da Música</label>
                    <input id="nome" value="<%=musica.nome%>" name="nome" type="text" placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="artista">Artista</label>
                    <input id="artista" value="<%=musica.artista%>" name="artista" type="text" placeholder="Ex:Gope"
                        required>
                </div>
                <div>
                    <label for="genero">Gênero</label>
                    <input id="genero" value="<%=musica.genero%>" name="genero" type="text" placeholder="Ex:Gope"
                        required>
                </div>
                <div>
                    <label for="anoLancamento">Ano de Lançamento da Música</label>
                    <input id="anoLancamento" value="<%=musica.anoLancamento%>" name="anoLancamento" type="text"
                        placeholder="Ex:Gope" required>
                </div>
                <div>
                    <label for="duracao">Duração da Música</label>
                    <input id="duracao" value="<%=musica.duracao%>" name="duracao" type="text" placeholder="Ex:Gope"
                        required>
                </div>
                <div class="field-help">Os campos com * são obrigatórios.</div>
                <footer>
                    <a type="button" class="btn ghost" id="btn-cancelar" href="/musicas/lst">Cancelar</a>
                    <button type="submit" class="btn primary">Editar Música</button>
                </footer>
        </form>
    </div>

    <%-include('.. /rodape.ejs')%>