<%- include('../cabecalho.ejs')%>

    <main class="container">
        <div class="page-header">
            <h2>Lista de Músicas</h2>
            <a href="/musicas/add" class="btn btn-success">+ Nova Música</a>
        </div>

        <div class="search">
            <form method="post">
                <input type="text" name="pesquisar" placeholder="Nome do artista" class="form-container">
                <input type="submit" value="Buscar" class="btn btn-success">
            </form>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Artista</th>
                        <th>Gênero</th>
                        <th>Ano</th>
                        <th>Duração</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%musicas.forEach(musica=> {%>
                        <tr>
                            <td>
                                <%=musica.nome%>
                            </td>
                            <td>
                                <%=musica.artista%>
                            </td>
                            <td>
                                <%=musica.genero%>
                            </td>
                            <td>
                                <%=musica.anoLancamento%>
                            </td>
                            <td>
                                <%=musica.duracao%>
                            </td>
                            <td>
                                <a href="/musicas/del/<%=musica.id%>" class="link">Excluir</a>
                                <a href="/musicas/edt/<%=musica.id%>" class="link">Editar</a>
                            </td>
                        </tr>
                        <%})%>
                </tbody>
            </table>
        </div>
    </main>

    <%- include('../rodape.ejs')%>